body {
    background-color: blue;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    min-height: 600px;

    .main {
        border-radius: 20px;

        .input-field {
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: grey;
            height: 40px;
            padding-left: 20px;
            font-size: 14px;
            color: black;
            box-sizing: border-box;
        }

        .input-field::placeholder {
            color: black;
        } 

        .input-field:focus {
            background-color: lightgray;
        }

        .input-field:hover {
            background-color: lightgray;
            cursor: pointer;
        }

        .addbutton {
            border-radius: 50%;
        }
       
        .mylist {
            list-style: none;
            text-align: start;
            max-height: 280px;
            overflow: scroll;
            scrollbar-width: thin;
            scrollbar-color: lightgray transparent;

            .todo-text {

            }

            .remove-button {

            }
        }
    }
}